extends ./../layout

block content
  h1.title Providers
  table.table.table-striped
    thead
      tr
        th Name
        th Owner
        th Date of Registration
        th Phones #
    tbody
      - each provider in providers
        tr
          td
            a(href="#" class="provider_name")=provider.name
          td= provider.owner
          td= provider.created_at
          td= provider.phone