nav.navbar.navbar-dark.bg-inverse.navbar-fixed-top
  button.navbar-toggler.hidden-sm-up.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation")
  a.navbar-brand(href="#") Utilities
  #navbar(aria-expanded="false")
    nav.nav.navbar-nav.float-xs-left
      a.nav-item.nav-link(href="/admin") Dashboard
      a.nav-item.nav-link(href="#") Settings
      a.nav-item.nav-link(href="#") Profile
      a.nav-item.nav-link(href="#") Help
    form.form-inline.float-xs-right
      input.form-control(type="text" placeholder="Search...")
      button.btn.btn-outline-info(type="submit") Search